
<h3>Edit a book of your Library</h3><br>

<form action="/books/<%=@book.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <p><label class="font-weight-light mb-2 mr-sm-2">Author:</label><br>
  <input type="text" name="author" value="<%=@book.author%>"</p>
  <p><label class="font-weight-light mb-2 mr-sm-2">Title:</label><br>
  <input type="text" name="title" value="<%=@book.title%>"> </p>

  <p><label class="font-weight-light mb-2 mr-sm-2">I have lent this book to:</label><br>
  <input type="text" name="receiver" value="<%=@book.receiver%>"></p>
  <p><label class="font-weight-light mb-2 mr-sm-2" value="<%=@book.date%>">When?</label><br>
  <input type="text" name="date" value="<%=@book.date%>"></p><br>
  <input type="submit" class="btn btn-info" value="Edit">
</form>
