
<%if !@book.receiver.empty?%>
<h3><%=@book.author%> - <%=@book.title%></h3>
<h4>I have lent this book to <%=@book.receiver%> on <%=@book.date%>
<%else%>
<h3><%=@book.author%> - <%=@book.title%></h3>
<%end%><br><br><br>



<h3><a class="button" href="/books/<%= @book.id %>/edit">Edit</a><br></h3>

<form method="post" action="/books/<%=@book.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>

<h3><a href="/books/new">Add another book</a><br></h3>
<h3><a href="/users/<%=current_user.slug%>">Visit your library</a><br></h3>
<h3><a class="button" href="/">Home</a></h3>
